<html>
    <head>
        <title>Register Here!</title>
        <link type="img/png" rel="icon" href="./logo.png">
        
    </head>
    <body>
        <div id="main-container">
            <div id="container">
                    <form method="POST" action="/register"> 
                        <input type="text" name="name" placeholder="Name" required>
                        <br>
                        <select name="branch" id="br" required> 
                            <option value="">Branch</option>
                            <option for="CS">CS</option>
                            <option for="IT">IT</option>
                            <option v="ECE">ECE</option>
                            <option value="EN">EN</option>
                            <option value="EI">EI</option>
                            <option value="ME">ME</option>
                            <option value="CE">CE</option>
                        </select>
                        <br>
                        <select name="year" id="yr" required> 
                            <option value="">Year</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <br>
                        <input type="email" name="email" placeholder="E-Mail ID" required>
                        <br>
                        <input type="text" name="mobileNumber" placeholder="Mobile Number" required>
                        <br>
                        <input type="text" name="rollNumber" placeholder="University Roll Number" required>
                        <br>
                        <input type="text" name="userName" placeholder="HackerRank User Name" required>
                        <br>
                        <select name="residency" id="res" required>
                            <option value="">Hostler/Day Scholar</option>
                            <option value="Hostler">Hostler</option>
                            <option value="Day Scholar">Day Scholar</option>
                        </select>
                        <br>
                        <button type="submit">Register</button>
                    </form>
            </div>
        </div>   
    </body>
</html>