<html>
    <head>
        <title>Register Here!</title>
    </head>
    <body>
        <div id="main- container">
            <div id="form">
                <form>
                    <input type="text" name="name" placeholder="name" required>
                    <br>
                    <select name="branch" required> 
                        <option value=""></option>
                        <option value="CS">Volvo</option>
                        <option value="IT">Saab</option>
                        <option value="ECE">Opel</option>
                        <option value="EN">Audi</option>
                        <option value="EI">bojo</option>
                        <option value="ME">aaaa</option>
                        <option value="CE">suzu</option>
                    </select>
                    <br>
                    <select name="year" required> 
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">Saab</option>
                        <option value="3">3</option>
                        <option value="4">Audi</option>
                    </select>
                    <input type="email" name="email" placeholder="E-Mail ID" required>
                    <br>
                    <input type="number" name="mobileNumber" placeholder="Mobile Number" required>
                    <br>
                    <input type="number" name="rollNumber" placeholder="University Roll Number" required>
                    <br>
                    <input type="text" name="userName" placeholder="Hacker-Rank User Name" required>
                    <br>
                    <select name="residency" required>
                        <option value=""></option>
                        <option value="Hostler"></option>
                        <option value="Day Scholar">Saab</option>
                    </select>
                    <br>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>